body {
  margin : 0px;
  font-family: sans-serif;
}

#key-press {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: gray;
}
